<main>
  <div class="nav">
    <button class="azul" (click)="abrir('llegar')">
      Cómo llegar
    </button>
    <button class="naranja" (click)="abrir('mapa')">
      Ver Mapa
    </button>
    <button class="verde" (click)="abrir('catastro')">
      Catastro
    </button>
  </div>

  <iframe *ngIf="activeUrl == 'mapa'" src="https://territorios.elprincipal.info/mapa/vs023"></iframe>
  <iframe *ngIf="activeUrl == 'llegar'" src="https://www.google.com/maps/dir//41.22045384736087,1.527276635169983"></iframe>
  <iframe *ngIf="activeUrl == 'catastro'" src="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?del=43&mun=165&refcat=6645618CF7664D&Xcentro=376492.871745542&Ycentro=4564263.50926439&from=OVCBusqueda&final=&pest=coordenadas&latitud=41.22033601096433&longitud=1.5265561091311075&gradoslat=&minlat=&seglat=&gradoslon=&minlon=&seglon=&x=&y=&huso=0&tipoCoordenadas=2&ZV=NO&ZR=NO"></iframe>
</main>