.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  // height: 10vh;

  button {
    margin: 15px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .75;
    }
  } 

  .azul {
    background: rgb(22, 145, 190);
    height: 9em;
    width: 9em;
  }

  .naranja {
    background: rgb(208, 101, 3);
    height: 9em;
    width: 9em;
  }

  .verde {
    background: rgb(3 208 66);
    height: 9em;
    width: 9em;
  }
}

iframe {
  width: 100vw;
  height: 70vh;
}